.app-wrapper{
  display: grid;

  grid-template-areas: 
  "header header header"
  "navbar content content";
  grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: burlywood;
}

.header{
  grid-area: header;
  background-color:bisque;
}
.header img{
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}

.nav{
  grid-area: navbar;
  background-color:blanchedalmond;
  width: 100px;
}
.nav a{
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.content{
  grid-area: content;
  background-color: cornsilk;
}
.content profile-image{
  height: 100px;
  width: 100px;
}
.content main-picture{
  height: 200px;
  width: 1500px;
}